<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>471483842028-gc8s0r0qu373a3ipmp40s8beel9bpfuh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.471483842028-gc8s0r0qu373a3ipmp40s8beel9bpfuh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>471483842028-3olmdp8cht6drga1qp1q0p5bh2lsqvqm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBycrsuccsxBnZLh_MieQzKmb4YkoES07I</string>
	<key>GCM_SENDER_ID</key>
	<string>471483842028</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.broseph.scorohod</string>
	<key>PROJECT_ID</key>
	<string>scorohod-app</string>
	<key>STORAGE_BUCKET</key>
	<string>scorohod-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:471483842028:ios:4f0fcac8cdd651a70594c9</string>
</dict>
</plist>