<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>249366160094-1qneh33gn4ff98qnujc2o67pmi3cpubd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.249366160094-1qneh33gn4ff98qnujc2o67pmi3cpubd</string>
	<key>API_KEY</key>
	<string>AIzaSyAlQe5sMwoKDlrzberVruYd1Rmyo47U6-g</string>
	<key>GCM_SENDER_ID</key>
	<string>249366160094</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.scorohod.app.scorohodApp</string>
	<key>PROJECT_ID</key>
	<string>scorched-app</string>
	<key>STORAGE_BUCKET</key>
	<string>scorched-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:249366160094:ios:e7b13ad8f624cb1bf6584f</string>
</dict>
</plist>